.section {
    margin: 2em 0;
    font-family: 'Open Sans', sans-serif;
    line-height:1.5em;
    display:flex;
    flex-direction: column;
    width:35vw;
    h3 {
        color:#1fb7af;
        font-weight: 300;
        font-size: 1.2em;
    }
    p {
        font-weight:100;
        font-size:.9em;
    }
    .capacity-line {
        display:flex;
        justify-content: space-between;
        .closed {
            color:grey;
            text-transform:uppercase;
            border: .5px solid grey;
            padding: .25em .5em;
        }
        .register-btn{
            text-transform:uppercase;
            background-color:white;
            border: .5px solid black;
            padding: .25em .5em;
            font-size:1em;
        }
        .already-registered{
            text-transform:uppercase;
        }
    }
}


@media screen and (max-width: 910px) {
    .section{
        width:75vw;
    }
}