/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 930px) {
  .headerComponent {
    justify-content: center !important;
  }
  .headerComponent .logo img {
    width: 12em;
  }
  .headerComponent .fa-search, .headerComponent .tagline {
    display: none;
  }

  .registrationPage {
    flex-direction: column-reverse;
    align-items: center;
  }
  .registrationPage .registeredComponent {
    width: 60vw;
    position: static;
    height: auto;
  }
  .registrationPage .sectionsComponent {
    width: 75vw;
  }
  .registrationPage .sectionsComponent .sectionComponent h3 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 500px) {
  .headerComponent {
    background-color: red;
  }

  .registrationPage .registeredComponent .registeredSection {
    font-size: 0.9em;
  }
  .registrationPage .sectionsComponent .sectionComponent h3 {
    font-size: 1em;
  }

  .footerComponent {
    flex-direction: column;
  }
  .footerComponent .footerCampus {
    display: flex;
  }
  .footerComponent .footerCampus .campusInfo {
    font-size: 0.8em;
  }
}
.AppComponent {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerComponent {
  width: 85vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerComponent .logo {
  display: flex;
  align-items: center;
}
.headerComponent .logo .tagline h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}
.headerComponent .fa-search {
  color: #1fb7af;
  margin: 0 1em;
  font-size: 1.5em;
}

.registrationPage {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.sectionsComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2em;
  width: 35vw;
}

.sectionComponent {
  margin-bottom: 2em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4em;
}
.sectionComponent h3 {
  color: #1fb7af;
  font-size: 1.2em;
}
.sectionComponent p {
  font-size: 0.9em;
}
.sectionComponent .hidden {
  margin: 1em 0 1.5em 0;
}
.sectionComponent .capacity-line {
  display: flex;
  justify-content: space-between;
}
.sectionComponent .capacity-line .closed {
  color: grey;
  text-transform: uppercase;
  border: 0.5px solid grey;
  padding: 0.25em 0.5em;
}
.sectionComponent .capacity-line .register-btn {
  text-transform: uppercase;
  background-color: white;
  border: 0.5px solid black;
  padding: 0.25em 0.5em;
  font-size: 1em;
}
.sectionComponent .capacity-line .already-registered {
  text-transform: uppercase;
}

.registeredComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
  width: 30vw;
  height: 85vh;
  border: 0.5px solid black;
  padding: 1em 2em;
  font-family: "Open Sans", sans-serif;
  position: sticky;
  top: 2em;
  overflow: scroll;
}
.registeredComponent h1 {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.registeredComponent .registeredSection {
  margin: 0.5em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4em;
}
.registeredComponent .registeredSection h3 {
  color: #1fb7af;
  font-size: 0.9em;
}
.registeredComponent .registeredSection p {
  font-size: 0.9em;
}
.registeredComponent .registeredSection .hidden, .registeredComponent .registeredSection .capacity-line {
  display: none;
}

.footerComponent {
  width: 85vw;
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}
.footerComponent .campusInfo {
  line-height: 1.4em;
  margin: 1em;
}
.footerComponent .campusInfo h4, .footerComponent .campusInfo p {
  font-family: "Open Sans", sans-serif;
}
.footerComponent .campusInfo h4 {
  font-weight: 400;
  text-transform: uppercase;
}
.footerComponent .campusInfo p {
  font-weight: 300;
}

/*# sourceMappingURL=index.css.map */
