/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App img {
  width: 80vw;
}
.App .App-body {
  display: flex;
  width: 75vw;
  justify-content: space-between;
}

@media screen and (max-width: 910px) {
  .App .App-body {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .App img {
    display: none;
  }
}
.section {
  margin: 2em 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  width: 35vw;
}
.section h3 {
  color: #1fb7af;
  font-weight: 300;
  font-size: 1.2em;
}
.section p {
  font-weight: 100;
  font-size: 0.9em;
}
.section .capacity-line {
  display: flex;
  justify-content: space-between;
}
.section .capacity-line .closed {
  color: grey;
  text-transform: uppercase;
  border: 0.5px solid grey;
  padding: 0.25em 0.5em;
}
.section .capacity-line .register-btn {
  text-transform: uppercase;
  background-color: white;
  border: 0.5px solid black;
  padding: 0.25em 0.5em;
  font-size: 1em;
}
.section .capacity-line .already-registered {
  text-transform: uppercase;
}

@media screen and (max-width: 910px) {
  .section {
    width: 75vw;
  }
}
.registered {
  font-family: "Open Sans", sans-serif;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid black;
  padding: 1em 2em;
  width: 25vw;
  height: 80vh;
  position: sticky;
  top: 2em;
  overflow: scroll;
}
.registered h1 {
  font-weight: 800;
  font-size: 1.2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.registered ul {
  line-height: 1.5em;
}
.registered ul li {
  margin: 2em 0;
}
.registered ul li p {
  font-weight: 100;
  font-size: 0.9em;
}
.registered ul li .title {
  color: #1fb7af;
}

@media screen and (max-width: 910px) {
  .registered {
    width: 60vw;
    position: static;
    height: auto;
  }
}

/*# sourceMappingURL=index.css.map */
